@import '../../../../assets/fonts/font';
@import'../../../../assets/colors/color';

.view {
    height: 35rem;
    background-color: $dot-color;
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__h1 {
        font-size: 23px;
        color: $white;
    }
}