<div class="subscribersect">
    <div class="subscribersect__content">
        <div class="subscribersect__content__data">
            <h4 class="subscribersect__content__h4">Subscribe to our newsletter</h4>
            <h3 class="subscribersect__content__h3">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.
                Vitae ac facilisis.</h3>
        </div>

    </div>
    <div class="subscribersect__emailaddress">
        <input type="email" name="" id="" class="subscribersect__emailaddress__email" placeholder="your email address">
        <div class="subscribersect__btn">
            <img src="./assets/images/places/arrow.png" alt="" srcset="" class="subscribersect__btn__img">
        </div>
    </div>
</div>