<div class="navbar container-fluid">
    <div class="navbar__top">
        <div class="navbar__left">
            <app-ax-media-icons></app-ax-media-icons>
            <div class="navbar__eclipse">
                <img src="../../../assets/images/navbar/Ellipse 2.png" alt="" srcset="">
            </div>
            <div class="navbar__eng">
                <app-ax-english-icon></app-ax-english-icon>
            </div>
        </div>
        <div class="navbar__dotbuttons">
            <p class="navbar__dotbuttons__p">...</p>
        </div>
        <div class="navbar__right">

            <app-ax-trails></app-ax-trails>
            <app-ax-schedule-call [value]="'Schedule a call'"
                [imgUrl]="'../../../../assets/images/navbar/callshedule.png'" [class]="'navbar__right__call '"
                [btnClass]="'navbar__right__button'" [divclass]="'navbar__right__img'"></app-ax-schedule-call>
        </div>
    </div>
    <div class=" navbar__bottom">
        <div class="icon">
            <img src="../../../assets/images/logo/logo.png" alt="" srcset="">
        </div>
        <div class="navbar__contents">
            <i class="bi bi-list navbar__hamberger"></i>
            <ul class="navbar__navs">
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Services</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Partners</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Industries</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Company</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Events</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Careers</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Resources</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Training</a>
                </li>
                <li class="navbar__navs__li">
                    <a class="navbar__navs__a">Contact us</a>
                </li>
            </ul>

        </div>
    </div>
</div>