$small-text: #666666;
$dot-color: #04BBF2;
$white: #ffff;
$dark-blue: #10385B;
$light-grey: #666666;
$bright-blue: #2B98F7;
$read-blue: #0060E4;
$test-card: #F9F9F9;
$course-bg: #F1F5F8;
$largecard-bg: #03549F;
$border-color: rgba(0, 0, 0, 0.1);
$places-col: #E9E9E9;
$subscriber-col: #1D7AD0;
$footer-col: #150D2B;
$line-bg: rgba(225, 225, 225, 0.2);
$industry-h3: rgba(255, 255, 255, 1);
$input-border: #D9D9D9;
$light-blue: #2D82E5;
$light-gray: rgba(207, 207, 207, 1);