<div class="aboutus">
    <div class="aboutus__content">
        <div class="about">
            <img src="./assets/images/logo/about-beinex.png" alt="" srcset="">
            <ul class="aboutus__ul">
                <li>About Beinex​</li>
                <li>Careers</li>
                <li>Press Releases</li>
                <li>Beinex in the News</li>
            </ul>
        </div>
        <div class="line aboutus--lines"></div>
        <div class="aboutus__content__services">
            <h4 class="aboutus__h4">Our Services</h4>
            <div class="aboutus__content__data">
                <div class="left">
                    <ul class="aboutus__ul">
                        <li>Advanced Analytics​</li>
                        <li>AI /ML/RPA</li>
                        <li>Alteryx APA</li>
                        <li>Audit Analytics</li>
                        <li>Beinex Digital</li>
                        <li>Business Intelligence</li>
                    </ul>
                </div>
                <div class="aboutus--right">
                    <ul class="aboutus__ul">
                        <li>Competitive Intelligence</li>
                        <li>Modern Cloud Analytics</li>
                        <li>Risk Analytics</li>
                        <li>Tableau</li>
                        <li>Tableau Support Services</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="line aboutus--lines"></div>
        <div class="industries">
            <h4 class="aboutus__h4">Our Industries</h4>
            <ul class="aboutus__ul">
                <li>Finance</li>
                <li>Human Resources</li>
                <li>Procurement</li>
                <li>Sales</li>
            </ul>
        </div>
        <div class="line aboutus--lines">

        </div>
        <div class="aboutus__content__partners">
            <h4 class="aboutus__h4">Our Partners</h4>
            <div class="aboutus__content__data">
                <div class="left">
                    <ul class="aboutus__ul">
                        <li>Tableau</li>
                        <li>Alteryx</li>
                        <li>AURAA</li>
                        <li>Amazon Web Services</li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="aboutus__ul aboutus--ul">
                        <li>Microsoft Azure</li>
                        <li>Snowflake</li>
                        <li>Salesforce</li>
                        <li>Alation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>