@import'../../../../assets/colors/color';
@import'../../../../assets/mixins/mixin';
@import'../../../../assets/fonts/font';

.formInput {
    width: 302px;
    height: 35px;
    border: 1px solid $input-border;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 14px;

    &__input {
        border: hidden;
        height: 30px;
        width: 260px;
        font-family: $font;

    }

    &__icon {
        display: flex;
        align-items: center;

    }

    &--size {
        width: 600px;
        height: 70px;
    }
}

.textarea {
    height: 90px;
    width: 100%;
    border: 1px solid $input-border;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    &__input {
        font-family: $font ;
        height: 77px;
        width: 37rem;
        resize: none;
        border: none;
    }

    &__img {
        width: 24px;
        height: 24px;
    }
}

.invalid {
    border: 1px solid red;
}

@include mobile {
    .formInput {
        width: 97%;
    }

    .textarea__input {
        width: 19rem;
    }
}