<div class="places">
    <div class="places__content">
        <app-ax-place-card [imageUrl]="'../../../../assets/images/places/united-arab-emirates.png'" [heading]="'
        Beinex – UAE
        '" [address]="'506, BB01, Bay Square, Business Bay, P. O. Box 82940, Dubai, United Arab Emirates'"
            [phone]="'+971 4 243 9494 '" [mobile]="'+971 52 695 0068'" [email]="'Info@beinex.com'"></app-ax-place-card>
        <app-ax-place-card [imageUrl]="'../../../../assets/images/places/qatar.png'" [heading]="'
            Beinex – Qatar
            '"
            [address]="'Global Business Centre II, Office No. R19, 2nd floor Al Hitmi Village, Building No 40, Cornish Road, Doha, Qatar P.O Box 25422'"
            [phone]="'+974 44023981'" [mobile]="'+974 50682589'" [email]="'Info@beinex.qa'"></app-ax-place-card>
        <app-ax-place-card [imageUrl]="'../../../../assets/images/places/uk.png'" [heading]="'
            Beinex – United Kingdom
            '" [address]="'New Broad Street House 35 New Broad St London England EC2M 1NH'" [phone]="'+44 7539 393552'"
            [email]="'UK@beinex.com'"></app-ax-place-card>
        <app-ax-place-card [imageUrl]="'../../../../assets/images/places/united-arab-emirates.png'" [heading]="'
            Beinex – UAE
            '" [address]="'506, BB01, Bay Square, Business Bay, P. O. Box 82940, Dubai, United Arab Emirates'"
            [phone]="'+971 4 243 9494 '" [mobile]="'+971 52 695 0068'" [email]="'Info@beinex.com'"></app-ax-place-card>
        <app-ax-place-card [imageUrl]="'../../../../assets/images/places/kenya.png'" [heading]="'
        Beinex – Kenya
            '"
            [address]="'Beinex Consulting Ltd Purshottam Place, 7th floor, Westlands Rd, Museum Hill P. O. Box 66217-00800, Nairobi, Kenya. '"
            [phone]="' +254 020 515 4016 '" [mobile]="'+971 52 695 0068'"
            [email]="'Info@beinex.com'"></app-ax-place-card>
    </div>
    <!-- <div class="subscribersect">
        <div class="subscribersect__content">
            <div class="subscribersect__content__data">
                <h4 class="subscribersect__content__h4">Subscribe to our newsletter</h4>
                <h3 class="subscribersect__content__h3">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Vitae ac facilisis.</h3>
            </div>

        </div>
        <div class="subscribersect__emailaddress">
            <input type="email" name="" id="" class="subscribersect__emailaddress__email"
                placeholder="your email address">
            <div class="subscribersect__btn">
                <img src="./assets/images/places/arrow.png" alt="" srcset="" class="subscribersect__btn__img">
            </div>
        </div>
    </div> -->
    <app-ax-subscriberset></app-ax-subscriberset>
</div>